#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  background-color: #fff;
  height: 70px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid #e7e9ea;
}

.wrap-header {
  margin: 0 auto;
  max-width: 1185px;
  padding-top: 20px;
  width: 95%;
  padding-left: 16px;
  padding-right: 8px;
}

.login-wrap {
  max-width: 370px;
  width: 90%;
  margin: 64px auto 0;
  text-align: center;
  color: #200020;
  background-color: #fff;
  padding: 32px 16px 24px;
  border-radius: 4px;
}

.logo {
  float: left;
  height: 2.12em;
}

.buttons-right {
  display: inline-block;
  margin: 0 auto;
}
.container-buttons {
  top: -5px;
}
.button-recarga {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-recarga:hover {
  background-color: #0056b3;
}